p{ 
    background-color: rgb(255, 255, 255); 
    width: 80%; 
    text-align: center;
}
h1{ 
    background-color: rgb(255, 255, 255); 
    margin-left: auto; 
    margin-right: auto; 
    border-width: 50%; 
} 
h5 {
    background-color: rgb(255, 255, 255); 
    text-decoration: green dashed; 
    border: 50%;
}
body {
    background-color: rgb(193, 192, 255); 
}

div {
    background-colour: blue ;
    text-align: center;
    width: 300px;
    border: 10px solid green;
    padding: 50px;
    margin: 20px;
}

footer {
    text-align: center; 
    font-size: 9pt;
    font-style: italic;
    
}